
.vs/ProjectKTX/v15/.suo
.vs/ProjectKTX/v15/.suo
.vs/ProjectKTX/v15/.suo
DAO/obj/Debug/CoreCompileInputs.cache
*.cache
*.cache
DAO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.diagram
*.dll
.vs/ProjectKTX/v15/.suo
*.pdb
.vs/ProjectKTX/v15/.suo
*.xml
*.txt
*.cache
*.cache
*.cache
*.cache
BUS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BUS/obj/Debug/CoreCompileInputs.cache
*.datasource
*.dll
DAO/bin/Debug/DAO.dll.config
DAO/DataAccess.Context.cs
DAO/DataAccess.Context.tt
DAO/DataAccess.cs
DAO/DataAccess.Designer.cs
DAO/DataAccess.edmx
DAO/DataAccess.tt
DAO/DataAcess.Context.cs
DAO/DataAcess.Context.cs
DAO/DataAcess.Context.cs
DAO/DataAcess.Context.tt
DAO/DataAcess.cs
DAO/DataAcess.Designer.cs
ProjectKTX/obj/Debug/CoreCompileInputs.cache
ProjectKTX/obj/Debug/CoreCompileInputs.cache
DAO/HOPDONG.cs
DAO/HOADON.cs
DAO/DataAcess.tt
DAO/HOADON.cs
DAO/HOPDONG.cs
DAO/PHONG.cs
DAO/PHIEUGHIDIENNUOC.cs
DAO/SINHVIEN.cs
DAO/App.Config
DAO/App.Config
DAO/App.Config
DAO/App.Config
DAO/DataAcess.cs
DAO/DataAcess.cs
ProjectKTX/obj/Debug/CoreCompileInputs.cache
